# Files
*.asv
*.bmp
*.zip
out.txt
plotEllipsoid.m
imageExcelTest.m
circleSegmentTest.m
segTest.m
Baseline - Backup.xls
repositionGraphics.m

# Folders
20150521_144039/
20150521_144348/
20150521_144540/
Log/